.tm-button {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    background: $global-red-color;
    color: #fff;
    border-radius: 100px;
    transition: all 0.2s;

    &:hover {
        background: darken($global-red-color, 15%);
        color: #fff;
        text-decoration: none;
    }

    &.tm-mercadopago-button {
        width: 100%;
        padding: 0.8rem 1.25rem;
        font-size: 1.7rem;
        max-width: 250px;
        text-align: center;
        background: linear-gradient(to bottom, #009ee3 50%, #0181b8);
        font-weight: 600;

        &:hover {
            background: linear-gradient(to bottom, #009ee3 100%, #0181b8);
            transform: scale(1.1);
        }

    }

}