@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Fonts
$font-family: 'Work Sans', sans-serif;

// Colors
$global-color: #011627;
$global-blue-color: #20A4F3;
$global-darkerblue-color: #1877ad;
$global-teal-color: #2EC4B6;
$global-red-color: #c81d25;

// Breakpoints
$screen-size-s: 640px;
$screen-size-m: 960px;
$screen-size-l: 1200px;
$screen-size-xl: 1600px;